body {
    background-color: rgb(245, 245, 245);
}

.container {
    margin: auto;
    max-width: 700px;
    padding-inline: 32px;
}

.interface {
    background-color: white;
    box-shadow: 1px 1px 5px  rgb(0, 0, 0);
    z-index: 0;
    
}

/* Tytuł strony */

.title {
    text-align: center;
    font-family: copperplate;
    font-size: 6em;
    margin: 5%;
}

/* formulaz */

.entering {
    display: flex;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: 15px;
    width: 100%;
}

.input {
    border: none;
    box-shadow: none;
    width: 100%;
}


input {
    background: none;
    border: none;
    color: rgb(83, 83, 83);
    font-size: 1.4em;
    width: 100%;

}

.field {
    width: 100%;
}


/* wszystki notatki */

.imgCheck {
    display: none;
}

.notes {
    display: flex;
    flex-direction: column;
}


.main-note {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.main-note > div {
    display: flex;
}

.inputText {
    padding-left: 15px;
    display: flex;
}


.textEdit {
    width: 100%;
}

.line-through {
    text-decoration: line-through;
}


.dash {
    border: 1px solid rgb(237, 237, 237);
}

.settings {
    color: rgb(182, 182, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


/* Przyciski */

.buttons {
    display: flex;
    align-items: center;
}

.button {
    background: none;
    border: 1px solid white;
    border-radius: 3px;
    color: rgb(182, 182, 182);
}

.button:hover {
    border: 1px solid rgb(182, 182, 182);
}

.button:active {
    background-color: rgb(221, 221, 221);
}

.buttons
    .button:active {
        background-color: rgb(221, 221, 221);
    }



.taskDone {
    background-image: url(icons/done_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.btnCheck {
    border-radius: 50%;
    border: 2px solid rgb(191 191 191);
    padding: 25px;

}

.btnCheck:hover {
    border-color: rgb(151, 151, 151);
}

.próbny {
    padding: 25px;
    border-radius: 50%;
}


.how-much-left {
    padding-inline: 16px;
}

.tab {
    height: 5px;
    background-color: white;
    z-index: -1;
    margin: auto;
    box-shadow: 0px 0px 5px black;

}

#tab1 {
    width: 99%;
}

#tab2 {
    width: 98%;
}

#tab3 {
    width: 97%;
}